//COLORS
$pink: #eb2f64;
$pink-light: #ff3366;
$pink-dark: #ba265d;

$white-lighter: #faf9f9;
$white: #f4f2f2;
$white-darker: #f0eeee;
$white-grey: #ccc;

$grey-dark: #333;
$grey: #777;
$grey-light: #999;

//TEXTS
$review: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi, totam, itaque officia ex.";
$small-review: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga doloremque architecto dicta animi.";
$desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.";

//SCREEN SIZES
