.container {
  max-width: 120rem;
  margin: 8rem auto;

  background-color: var(--white);
  box-shadow: var(--box-shadow);

  min-height: 50rem;

  @include respondMax($tablet-land) {
    margin: 0;
  }
}
