.nav-sidebar {
}

.sidebar {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  background-color: var(--grey-dark);

  @include respondMax($tablet-port) {
    flex-direction: row;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
  }

  &__nav-list {
    margin-top: 3rem;
    padding-left: 0;
    list-style: none;

    @include respondMax($tablet-port) {
      margin-top: 0;
      display: flex;

      flex-grow: 1;
    }
  }

  &__nav-item {
    @include respondMax($tablet-port) {
      flex-grow: 1;
    }
    display: flex;
    align-items: center;
  }

  &__nav-link {
    position: relative;
    text-decoration: none;
    color: var(--white);

    width: 100%;
    padding: 2rem 3rem;
    text-align: left;

    font-size: 1.2rem;
    text-transform: uppercase;

    @include respondMax($small-phone) {
      font-size: 1rem;
      padding: 1.5rem 1.5rem;
    }

    display: flex;
    align-items: center;

    background-image: linear-gradient(
      to left,
      transparent 0%,
      transparent 50%,
      var(--pink-dark) 50%
    );

    transform: translateY(1);

    background-size: 200%;
    background-position: 100%;

    @include respondMax($tablet-port) {
      flex: 1;
    }

    &::after {
      transition: all 0.3s;
      position: absolute;
      content: "";

      width: 3px;
      height: 100%;
      left: 0;

      transform: scaleY(0);

      background-color: var(--pink-dark);
    }

    &--active {
      background-color: var(--pink-dark);
    }

    &:hover::after {
      transition: all 0.3s;
      transform: scaleY(1);
      // height: 100%;
    }

    &:hover,
    &:focus {
      transition: all 0.7s cubic-bezier(1, 0.01, 0.24, 0.97) 0.2s;
      background-position: 0%;
    }
  }

  &__nav-icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;

    margin-right: 2rem;
  }

  &__copyright {
    margin-bottom: 3rem;
    align-self: center;

    text-align: center;

    font-size: 1rem;
    color: var(--white);

    @include respondMax($tablet-port) {
      display: none;
    }
  }
}
