*,
*::after,
*::before {
  //   padding: 0;
  //   margin: 0;
  box-sizing: inherit;
}

html {
  font-size: baseFontSize(10px);
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    var(--pink-light),
    var(--pink-dark)
  );
}
