*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: baseFontSize(10px);

  @include respondMax($tablet-port) {
    font-size: baseFontSize(9px);
  }

  @include respondMax($phone) {
    font-size: baseFontSize(8px);
  }
  @include respondMax($small-phone) {
    font-size: baseFontSize(7px);
  }
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    var(--pink-light),
    var(--pink-dark)
  );
}
